<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
    <img src="/images/logo-mercado-liebre.svg" alt="Este es el logo de Mercado Liebre">


    <button>Lugar para poner barra de herramientas</button>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>

    <nav>
    <ul>
        <li><a href="https://www.google.com/" target="_blank">Ofertas</a></li>
        <li><a href="https://www.google.com/" target="_blank">Tiendas Oficiales</a></li>
        <li><a href="https://www.google.com/" target="_blank">Vender</a></li>
        <li><a href="https://www.google.com/" target="_blank">Ayuda</a></li>
    </ul>
    <ul>
        <li><a href="https://www.google.com/" target="_blank">Creá tu cuenta</a></li>
        <li><a href="https://www.google.com/" target="_blank">Ingresá</a></li>
        <li><a href="https://www.google.com/" target="_blank">Mis compras</a></li>
    </ul>
    </nav>
    </header>
<main>
    
    <img src="/images/img-home-banner.jpg" alt="Acá hay un banner">

    <h3>Sección: Basado en tu última visita</h3>

    <article>
    <img src="/images/img-cafetera-moulinex.jpg" alt="Acá hay una imagen de una cafetera">
    <p>$6.770</p>
    <p>40% off</p>
    <h4>Cafetera Moulinex </h4> 
    </article>

    <article>
    <img src="/images/img-macbook-pro-2019.jpg" alt="Acá hay una imagen de una cafetera">
    <p>$230.000</p>
    <p>20% off</p>
    <h4>MacBook Pro 2019</h4> 
    </article>

    <article>
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Acá hay una imagen de una cafetera">
    <p>$70.500</p>
    <p>10% off</p>
    <h4>Samsung Galaxy S10</h4> 
    </article>

    <article>
    <img src="/images/img-tv-samsung-smart.jpg" alt="Acá hay una imagen de una cafetera">
    <p>$23.200</p>
    <p>5% off</p>
    <h4>SmartTv Samsung 43"</h4> 
    </article>

</main>
<footer>

</footer>

</body>
</html>