<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <img src="/images/logo-mercado-liebre.svg" alt="Este es el logo de Mercado Liebre">


    <button>Lugar para poner barra de herramientas</button>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>

    <nav>
    <ul>
        <li><a href="https://www.google.com/" target="_blank">Ofertas</a></li>
        <li><a href="https://www.google.com/" target="_blank">Tiendas Oficiales</a></li>
        <li><a href="https://www.google.com/" target="_blank">Vender</a></li>
        <li><a href="https://www.google.com/" target="_blank">Ayuda</a></li> <br>

        <li><a href="https://www.google.com/" target="_blank">Creá tu cuenta</a></li>
        <li><a href="https://www.google.com/" target="_blank">Ingresá</a></li>
        <li><a href="https://www.google.com/" target="_blank">Mis compras</a></li>
    </ul>
    </nav>
    
    <img src="/images/img-home-banner.jpg" alt="Acá hay un banner">

    <h4>Sección: Basado en tu última visita</h4>

    <p> $6.770 <br>
        40% off <br>
        Cafetera Moulinex
    </p> 


</body>
</html>