<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <img src="/images/logo-mercado-liebre.svg" alt="Este es el logo de Mercado Liebre">


    <p>Lugar para poner barra de herramientas</p>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>

    <ul>
        <li><a href="https://www.google.com/" target="_blank">Ofertas</a></li>
        <li><a href="https://www.google.com/" target="_blank">Tiendas Oficiales</a></li>
        <li><a href="https://www.google.com/" target="_blank">Vender</a></li>
        <li><a href="https://www.google.com/" target="_blank">Ayuda</a></li> <br>

        <li><a href="https://www.google.com/" target="_blank">Creá tu cuenta</a></li>
        <li><a href="https://www.google.com/" target="_blank">Ingresá</a></li>
        <li><a href="https://www.google.com/" target="_blank">Mis compras</a></li>
    </ul>
</body>
</html>