img {
width: 100%;
height: auto;
}

.logo {
    background: left bottom no-repeat;
    background-size: 260px 50px;
    float: left;
    margin: 3px 2px 10px 3px;
    padding: 0px;
    }
strong{
    color: rgb(0,0,0); 
 }

 header {
    background-color: #EAC926;

 }

 body {
    font-family: 'Roboto';
    font-size: 12px;
   
}

.ultimavisita, .oferta {
    font-size:  24px;
}

.precio {
    font-size:  18px;
}

.descuentos, .descripciónProducto {
    font-size:  16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.burger-menu {
    text-align: center;
    padding-bottom: 10px;
    
}
.burger {
    background-color: #1259c3;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    padding: 15px;
}

.articleFooter {
    text-align:center;
}

.IconoFooter {
    font-size: 3em;
    margin-bottom: 10px;
}
